@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

#root{
padding: 30px 20px;
align-items: center;
display: flex;
justify-content: center;
}
.heading{
    width: auto;
    font-weight: bold;
}